name: Azure Pipelines
trigger:
- master
variables:
  python.version: '3.7.6'
  TF_VAR_ARM_SUBSCRIPTION_ID: $(subscription_id)
  TF_VAR_ARM_CLIENT_ID: $(client_id)
  TF_VAR_ARM_CLIENT_SECRET: $(client_secret)
  TF_VAR_ARM_TENANT_ID: $(tenant_id)
  TF_VAR_ADMIN_USERANME: $(admin_username)
  TF_VAR_ADMIN_PASSWORD: $(admin_password)
  TF_VAR_PUBLIC_KEY: $(public_key)
stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: Hosted Ubuntu 1604
    steps:
    # Needed for Terraform VM deployment
    - task: InstallSSHKey@0
      displayName: 'Install SSH Key'
      inputs:
        knownHostsEntry: '104.211.25.197'
        sshPublicKey: '$(public_key)'
        sshKeySecureFile: 'nd082_project3_rsa'
    - task: ArchiveFiles@2
      displayName: 'Archive FakeRestAPI'
      inputs:
        rootFolderOrFile: 'fakerestapi'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip'
    - publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId)-fakerestapi.zip
      displayName: 'Upload Package'
      artifact: drop-fakerestapi
    
    #- task: TerraformInstaller@0
     # displayName: "Terraform Install version 0.12.3"
     # inputs:
     #   terraformVersion: '0.12.3'
    
    - task: TerraformTaskV1@0
      displayName: 'Terraform Init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'nd082-project3-terraform'
        backendAzureRmResourceGroupName: 'nd082-tstate_rg'
        backendAzureRmStorageAccountName: 'nd082tfstorage10556'
        backendAzureRmContainerName: 'nd082tfcontainer'
        backendAzureRmKey: '$(TF_VAR_STORAGE_ACCESS_KEY)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'

    - task: TerraformTaskV1@0
      displayName: "Terraform Plan"
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: 'nd082-project3-terraform'
        backendAzureRmResourceGroupName: 'nd082-tstate_rg'
        backendAzureRmStorageAccountName: 'nd082tfstorage10556'
        backendAzureRmContainerName: 'nd082tfcontainer'
        backendAzureRmKey: '$(TF_VAR_STORAGE_ACCESS_KEY)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
        commandOptions: |
          -input=false -var "subscription_id=$(TF_VAR_ARM_SUBSCRIPTION_ID)" -var "client_id=$(TF_VAR_ARM_CLIENT_ID)" -var "client_secret=$(TF_VAR_ARM_CLIENT_SECRET)" -var "tenant_id=$(TF_VAR_ARM_TENANT_ID)" -var "admin_username=$(TF_VAR_ADMIN_USERANME)" -var "admin_password=$(TF_VAR_ADMIN_PASSWORD)" -var "public_key=$(TF_VAR_PUBLIC_KEY)"

    - task: CmdLine@2
      displayName: Install NewMan
      continueOnError: false
      inputs:
        script: 'npm install newman'
        workingDirectory: '$(System.DefaultWorkingDirectory)/postman'

    - task: CmdLine@2
      displayName: "Running PostMan Test"
      continueOnError: true
      inputs:
        script: 'newman run StarterAPIs.json --reporters cli,junit --reporter-junit-export $(System.DefaultWorkingDirectory)/postman/results/junitReport_$(Build.BuildId).xml'
        workingDirectory: '$(System.DefaultWorkingDirectory)/postman'
    - task: PublishTestResults@2
      displayName: "Publishing Test Results"
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: '$(System.DefaultWorkingDirectory)/postman/results/junitReport_*.xml'
        failTaskOnFailedTests: false


- stage: Provision_Terraform_Resources
  jobs:
  - job: Provision_Terraform_Resources
    pool: Hosted Ubuntu 1604
    steps:
    - task: TerraformTaskV1@0
      inputs:
        provider: 'azurerm'
        command: 'init'
        commandOptions: '-input=false -var "subscription_id=$(TF_VAR_ARM_SUBSCRIPTION_ID)" -var "client_id=$(TF_VAR_ARM_CLIENT_ID)" -var "client_secret=$(TF_VAR_ARM_CLIENT_SECRET)" -var "tenant_id=$(TF_VAR_ARM_TENANT_ID)" -var "admin_username=$(TF_VAR_ADMIN_USERANME)" -var "admin_password=$(TF_VAR_ADMIN_PASSWORD)" -var "public_key=$(TF_VAR_PUBLIC_KEY)"'
        backendServiceArm: 'nd082-project3-terraform'
        backendAzureRmResourceGroupName: 'nd082-tstate_rg'
        backendAzureRmStorageAccountName: 'nd082tfstorage10556'
        backendAzureRmContainerName: 'nd082tfcontainer'
        backendAzureRmKey: '$(TF_VAR_STORAGE_ACCESS_KEY)'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
    - task: TerraformTaskV1@0
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/test'
        commandOptions: '-input=false -var "subscription_id=$(TF_VAR_ARM_SUBSCRIPTION_ID)" -var "client_id=$(TF_VAR_ARM_CLIENT_ID)" -var "client_secret=$(TF_VAR_ARM_CLIENT_SECRET)" -var "tenant_id=$(TF_VAR_ARM_TENANT_ID)" -var "admin_username=$(TF_VAR_ADMIN_USERANME)" -var "admin_password=$(TF_VAR_ADMIN_PASSWORD)" -var "public_key=$(TF_VAR_PUBLIC_KEY)"'''
        environmentServiceNameAzureRM: 'nd082-project3-terraform'
        
- stage: Deploy
  jobs:
    - deployment: FakeRestAPI
      pool:
        name: Hosted Ubuntu 1604
      environment: 'test'
      strategy:
       runOnce:
         deploy:
           steps:
             - task: AzureWebApp@1
               inputs:
                 azureSubscription: '$(web_app_subscription)'
                 appType: 'webApp'
                 appName: 'nd082project3-webapp'
                 package: '$(Pipeline.Workspace)/drop-fakerestapi/$(Build.BuildId)-fakerestapi.zip'
                 deploymentMethod: 'auto'
                 slotName: FREE

  
    - deployment: VM_Deployment_for_Selenium
      displayName: 'VM Deployment for Selenium'
      environment:
       name: 'test'
       resourceType: VirtualMachine
       tags: web
      strategy:
       runOnce:
         deploy:
           steps:
            - task: Bash@3
              inputs:
                targetType: 'inline'
                script: |
                  #! /bin/bash
                  sudo apt-get upgrade -y
                  sudo apt-get update -y
                  sudo apt-get install python3-pip -y
                  sudo apt-get install unzip -y
                  sudo apt-get install -y chromium-browser
                  pip3 install selenium
                  export PATH=$PATH:/usr/bin/chromium-browser 


        
        
     


